<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="stylee.css">
    <head>
    <body>
        <div>
        <h1 style="text-align:center;">Employee Registration Form<h1>
        </div>
        <form name="empForm" onsubmit="return(confirm());">
            <div class="row">
                <label>Employee ID</label>
                <input type="text" name="empid"/><br>
                <div class="error" id="empidErr"></div>
            </div>

            <div class="row">
                <label>First Name</label>
                <input type="text" name="fname"/><br>
                <div class="error" id="fnameErr"></div>
            </div>

            <div class="row">
                <label>Last Name</label>
                <input type="text" name="lname"/><br>
                <div class="error" id="lnameErr"></div>
            </div>

            <div ng-app="">
                <label>Address</label>
                <input type="text" name="address" ng-model="address" required/><br>
            </div>

            <div ng-app="">
                <label>Department</label>
                <input type="text" name="department" ng-model="department" required/><br>
            </div>

            <div ng-app="">
                <label>Position</label>
                <input type="text" name="position" ng-model="position" required/><br>
            </div>

            <div class="row">
                <label>E-mail Address</label>
                <input type="text" name="email"/><br>
                <div class="error" id="emailErr"></div>
            </div>

            <div ng-app="">
                <label>Contact Number</label>
                <input type="number" name="contact" ng-model="contact" required/><br>
            </div>

            <div ng-app="">
                <label>Salary</label>
                <input type="number" name="sal" ng-model="sal" required/><br>
            </div>

            <div ng-app="">
                <label>Username</label>
                <input type="text" name="uname" ng-model="uname" required/><br>
            </div>


            <input type="submit" value="Submit"/>
            <script type="text/javascript" src="confirmation.js"></script>
        </form>
     </body>
</html>
